body {
	font-family: 'Times New Roman', "微软雅黑";
	font-size:15px;
	color: black;
	background-color: white;
}
#main {
	width: 848px;
	height: auto;
	margin: 10px auto;
}
#main h1{
	height: 44;
	border-bottom: 1px red solid;
	padding-left: 10px;
	line-height: 44px;
	color: aqua;
	font-size: 22px;
	text-align: center;
	
}
#main .content{
	margin-top: 16px;
	height: 878px;
	background-image: url(yunduo.png),url(dm.png),url(tsg.png);/*定义元素的多重背景图像，*/
	background-repeat: no-repeat;
	background-position: right 49px ,left top, left bottom;
}
#main dl{
	padding-left: 94px;
	padding-top: 80px;
	font-size: 0;
}
#main dl dt{
	font-size: 24px;
	font-weight: bold;
	color: aquamarine;
	background-image: url(diamond2.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	padding-top: 15px;
}
#main dl dd{
	padding-left: 30px;
	padding-top: 4px;
	display: inline-block;
	font-size: 18px;
}